.box {
  width: 20rem;
  height: 20rem;
  margin: 0 auto;
  background-color: red;
}

@media (min-width: 768px) {
  .box {
    background-color: blue;
  }
}

@media (min-width: 1024px) {
  .box {
    background-color: green;
  }
}
