:root {
  --slider-background: #dddddd;
  --slider-active-background: #1f87ff;
  --slider-color: #ffffff;
  --slider-width: 5rem;
  --slider-height: 2.5rem;
  --slider-padding: 0.25rem;
  --slider-indicator-size: calc(
    var(--slider-height) - (var(--slider-padding) * 2)
  );
  --slider-transition: 200ms;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider > input[type="checkbox"] {
  display: none;
}

.slider > input[type="checkbox"] ~ label {
  background-color: var(--slider-background);
  width: var(--slider-width);
  height: var(--slider-height);
  position: relative;
  display: inline-block;
  transition: background-color var(--slider-transition);
  border-radius: 9999px;
  cursor: pointer;
}

.slider > input[type="checkbox"] ~ label::before {
  content: "";
  position: absolute;
  top: var(--slider-padding);
  left: var(--slider-padding);
  width: var(--slider-indicator-size);
  height: var(--slider-indicator-size);
  background-color: var(--slider-color);
  border-radius: 9999px;
  transition: left var(--slider-transition);
}

.slider > input[type="checkbox"]:checked ~ label {
  background-color: var(--slider-active-background);
}

.slider > input[type="checkbox"]:checked ~ label::before {
  left: calc(
    var(--slider-width) - var(--slider-indicator-size) - var(--slider-padding)
  );
}
